/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$colors: (
  main: #737E87,
  card: #D6DCDF,
  text: #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$padding-page: 0 5vw;
$padding-card: 15px 15px;
$family-regular: RobotoRegular;
$family-bold: RobotBold;
$family-light: RobotoLight;
$border-radius: 5px;
