/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$colors: (
  main: #737E87,
  card: #D6DCDF,
  mobile-menu: #eceded,
  text: #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 992px;
$tablet: 768px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

$padding-page: 0 1rem;
$padding-page-tablet: 2rem;
$padding-card: 1.5rem;
$padding-card-tablet: 2.5rem;
$family-regular: RobotoRegular;
$family-bold: RobotBold;
$family-light: RobotoLight;
$border-radius: 0.5rem;
